{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        <input class="btn btn-default" type="submit" value="수업만들기" />
        <div class="spacer"></div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_basic_info">
                            기본정보
                        </a>
                    </h4>
                </div>
                <div id="collapse_basic_info" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% bootstrap_field form.title %}
                        {% bootstrap_field form.sub_category %}
                        {% bootstrap_field form.description %}
                        {% bootstrap_field form.personal_or_group %}
                        {% bootstrap_field form.price_of_month %}
                        {% bootstrap_field form.preparation %}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_curriculum">
                            커리큘럼
                        </a>
                    </h4>
                </div>
                <div id="collapse_curriculum" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% bootstrap_field form.curriculum_in_first_week %}
                        {% bootstrap_field form.curriculum_in_second_week %}
                        {% bootstrap_field form.curriculum_in_third_week %}
                        {% bootstrap_field form.curriculum_in_fourth_week %}
                        {% bootstrap_field form.curriculum_in_fifth_week %}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_schedule">
                            스케쥴
                        </a>
                    </h4>
                </div>
                <div id="collapse_schedule" class="panel-collapse collapse in">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>


    </form>
{% endblock %}
