{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class='row'>
        <div class='col-sm-12'>
            <p>
                <a class="btn btn-default" href="{% url 'forcompany:company_classes_update' pk=object.pk %}">수정하기</a>
                <a class="btn btn-default" href="{% url 'forcompany:company_classes_delete' pk=object.pk %}">삭제하기</a>
            </p>
            <h1>{{ object.title }}</h1>
            <p>{{ object.sub_category.name_kor }}</p>
            <p>{{ object.description }}</p>
            <p>{{ object.personal_or_group }}</p>
            <p> 한달 가격 : {{ object.price_of_month }}</p>
            <p>{{ object.preparation }}</p>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        커리큘럼
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>{{ object.curriculum_in_first_week }}</p>
                    <p>{{ object.curriculum_in_second_week }}</p>
                    <p>{{ object.curriculum_in_third_week }}</p>
                    <p>{{ object.curriculum_in_fourth_week }}</p>
                    <p>{{ object.curriculum_in_fifth_week }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
