Django==1.6.2
M2Crypto==0.22.3
South==0.8.4
beautifulsoup4==4.3.2
chardet==2.2.1
diff-match-patch==20110725.1
django-appconf==0.6
django-csvimport==1.0
django-import-export==0.2.1
django-rest-swagger==0.1.14
djangorestframework==2.3.13
gunicorn==18.0
psycopg2==2.5.2
pytz==2014.2
requests==2.2.1
six==1.6.1
tablib==0.9.11
wsgiref==0.1.2
