<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<title>INIpayMobile 결제 샘플</title>
<style>
</style>

<script language=javascript>
    function sendMessageToAndroid( is_success ) {
        if ( is_success ) {
            window.BridgeToAndroid.sendSuccess();
        } else if ( !is_success ) {
            window.BridgeToAndroid.sendFail();
        }
    }
</script>
</head>

<body>
    <a href="#" onclick="sendMessageToAndroid({{ is_success }})">send message to android</a>
</body>
</html>
