{% extends 'base.html' %}

{% load staticfiles %}

{% load macros %}
{% macro horizontal_form title forms%}
    <div class="form-group">
        <label class="col-sm-2 control-label">
        {{ title }}</label>
        <div class="col-sm-10"> {{ forms }} </div>
    </div>
{% endmacro %}


{% block contents %}

<h1 class="text-center">기본 정보</h1>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <form class="form-horizontal" role="form">

        {% usemacro horizontal_form "클래스제목" form.title %}

        {% usemacro horizontal_form "위치" form.position %}

        {% usemacro horizontal_form "근처 역" form.nearby_station %}

        {% usemacro horizontal_form "설명" form.description %}

        {% usemacro horizontal_form "준비물" form.preparation_material %}

        {% usemacro horizontal_form "시설 정보" form.facility %}

        </form>
    </div>
    <div class="col-md-5">
        <table class="table table-striped">
            <tr>
                <th>클래스</th>
                <th>가격</th>
            </tr>
            <tr>
                <td>{{ form.class1_count }}</td>
                <td>{{ form.class1_price }}</td>
            </tr>
            <tr>
                <td>{{ form.class2_count }}</td>
                <td>{{ form.class2_price }}</td>
            </tr>
            <tr>
                <td>{{ form.class3_count }}</td>
                <td>{{ form.class3_price }}</td>
            </tr>
            <tr>
                <td>{{ form.class4_count }}</td>
                <td>{{ form.class4_price }}</td>
            </tr>
            <tr>
                <td>{{ form.class5_count }}</td>
                <td>{{ form.class5_price }}</td>
            </tr>
            <tr>
                <td>{{ form.class6_count }}</td>
                <td>{{ form.class6_price }}</td>
            </tr>
        </table>
    </div>
</div>

<h1 class="text-center">강사 정보</h1>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <form class="form-horizontal" role="form">
            {{ form.teacher_image }}
        </form>
        <img src="{{ form.instance.teacher_image.url }}"/>
    </div>
    <div class="col-md-5">
        <form class="form-horizontal" role="form">
        {% usemacro horizontal_form "이름" form.teacher_name %}
        {% usemacro horizontal_form "경력" form.teacher_career %}
    </form>
    </div>
</div>

<h1 class="text-center">커리큘럼</h1>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" role="form">
            {% usemacro horizontal_form "수업시간" form.curriculum1_time %}
            {% usemacro horizontal_form "준비물" form.curriculum1_preparation_material %}
            {% usemacro horizontal_form "수업 내용" form.curriculum1_class_description %}
            {% usemacro horizontal_form "상세 수업 내용" form.curriculum1_class_detail_description %}
        </form>
    </div>
</div>

<h1 class="text-center">환불정보</h1>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" role="form">
            {{ form.refund_info }}
        </form>
    </div>
</div>

{% endblock %}